<!DOCTYPE html>
{% extends 'base_Bao.html' %}
{% load staticfiles %}

{% block title %}About Bao{% endblock %}

{% block body_block %}

	<h1> About Bao </h1>
	<p> Bao is a traditional mancala board game played in most of East Africa including Kenya, Tanzania, Comoros, Malawi, as well as some areas of DR Congo and Burundi.[1][2] It is most popular among the Swahili people of Tanzania and Kenya; the name itself "Bao" is the Swahili word for "board" or "board game". In Tanzania, and especially Zanzibar, a "bao master" (called bingwa, "master"; but also fundi, "artist") is held in high respect. In Malawi, a close variant of the game is known as Bawo, which is the Yao equivalent of the Swahili name.
	<b> (Straight from Wiki) </b>
	</p>

	<ul><b>Rules of the game:</b>
		<li>Rule 1</li>
		<li>Rule 2</li>
	</ul>
	<br />
	<a href = "/Bao/">Return to homepage</a><br />

{% endblock %}	

