<!DOCTYPE html>

{% extends 'base_Bao.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block body_block %}
	<div class="page-header">

		<h1>{{user.username}}'s Profile</h1>

	</div>	
	<div>
		<table border="1">
		<tr><th> Number of Wins </th></tr>
		<tr><td> {{up.score}} </td></tr>
		</table> 
	</div>	
		{{up.picture}} <br/>
		
		
	<!--<img src ="{% static "{{up.picture}}" %}" alt="{{user.username}} avitar" height = "200" width="150"/>-->
{% endblock %}	




