<!DOCTYPE html>
{% extends 'base_Bao.html' %}
{% load staticfiles %}

{% block title %}My Profile{% endblock %}

{% block body_block %}
	<div class="page-header">

		<h1>{{user.username}}'s Profile</h1>

	</div>	
	<div>
		<b>Medals</b>
		<table border="1">
		<tr><th> Number of Wins </th><th> Games Finished </th></tr>
		<tr><td> # </td><td>#</td></tr>
		</table> 
	</div>	
	
{% endblock %}
{% block side_block %}		
		<img src ="{% static "images/female_silhouette.jpg" %}" alt="{{user.username}} avitar" height = "200" width="150"/>
{% endblock %}	




